<div class="mainform">
  <h2>Rédigez un article, une annonce</h2>
  <div class="mat-elevation-z12" style="min-height: 300px;color: black;display: inline-block;width:95%;background-color: white;">
    <quill-editor [(ngModel)]="editorContent"></quill-editor>
  </div>
  <br><br>

  <mat-form-field class="app-field">
    <mat-label>Tags</mat-label>
    <mat-chip-list #chipList aria-label="Selection des tags">
      <mat-chip
        *ngFor="let tag of tags"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(tag)">
        {{tag}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input
        #fruitInput
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
        {{tag}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <br>

  <button class="app-button" mat-button mat-raised-button
          id="cmdSave"
          [disabled]="!editorContent"
          (click)="save()">
    Enregistrer
  </button>


  <button class="app-button" mat-button mat-raised-button
          id="cmdClear" color="primary"
          (click)="publish()">
    Publiez !
  </button>

</div>

